.cmp-chat-interface {

	.cmp-chat-interface__dialogue-list {
		list-style: none;
		margin-left: 0;

		.cmp-chat-interface__dialogue-list-item {
			margin-bottom: .5rem;

			&.is-user {
				text-align: left;

				span {
					background: $light-gray;
				}
			
			}

			&.is-bot {
				text-align: right;

				span {
					background: $light-gray;
				}
			
			}

			.cmp-chat-interface__dialogue-list-item-chat {
				font-size: .9rem;
				text-align: left;
				padding: .4rem .8rem;
				display: inline-block;
				border-radius: 18.89px;
				border: solid 1px $light-gray;

			}

		}

	}

	.cmp-chat-interface__message-typing {
		opacity: 0;
		display: block;
		margin-bottom: .5rem;

		span {
			display: inline-block;
			padding: .4rem .8rem;
			background: $light-gray;
			border-radius: 18.89px;
			border: solid 1px $light-gray;
		}

	}

	.cmp-chat-interface__message-input {
		width: 100%;
		resize: none;
		outline: none;
		height: 77.59px;
		font-size: .9rem;
		padding: .4rem .8rem;
		border-radius: 18.89px;
		border: solid 1px $light-gray;
	}

}