.cmp-category-article-selector {

	.cmp-category-article-selector__article-list {
		list-style: none;

		.cmp-category-article-selector__article-list-item {

			.cmp-category-article-selector__article-list-item-content {
				height: 200px;
				background: $light-gray;

				&.is-animals-category {
					background: #666666;
				}

				&.is-cars-category {
					background: #999999;

				}

				&.is-sports-category {
					background: #CDCDCD;

				}

				&.is-technology-category {
					background: #333333;

				}

				span {
					display: block;
					height: 20%;
					position: relative;
					top: 80%;
					left: 0;
					right: 0;
					background: rgba(255,255,255,.5);
				}

			}

		}

	}

}