.cmp-country-search {
	margin-top: 3rem;

	.cmp-country-search__input {
		width: 70%;
		outline: 0;
		display: block;
		margin: 0 auto;
		padding: 1rem;
		border-radius: $global-radius;
		border: solid 1px $light-gray;

		&:focus {
			box-shadow: 0 0 0 0.2rem rgba(230,230,230,.25);
		}

	}

	.cmp-country-search__results {
		width: 70%;
		outline: 0;
		display: none;
		margin: 0 auto;
		list-style: none;
		margin-top: .5rem;
		overflow-y: scroll;
		max-height: 349px;
		border-top: solid 1px $light-gray;
		border-bottom: solid 1px $light-gray;
		border-radius: $global-radius 0 0 $global-radius;
	}

	.cmp-country-search__results-item {
		padding: 1rem;
		cursor: pointer;
		border-bottom: solid 1px $light-gray;
		border-left: solid 1px $light-gray;

		&:last-child {
			border-top: 0;
		}

		&:last-child {
			border-bottom: 0;
		}

		&:hover {
			background: rgba(230,230,230,.25);
		}

	}

}